In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv("Student_data.csv")
df.head()

  Student Name  Math  Science  English  Unnamed: 4  History
0         John    80       75       90         NaN       70
1        Sarah    95       85       80         NaN       85
2        David    70       65       75         NaN       80
3        Emily    85       90       88         NaN       92

In [7]:
# 23. Using NumPy, calculate the mean score of each subject.
subjects = ['Math', 'Science', 'History', 'English']
mean_scores = np.mean(df[subjects], axis=0)
print(f"Mean score of each subject: \n{mean_scores}\n")

Mean score of each subject:
Math       82.50
Science    78.75
History    81.75
English    83.25
dtype: float64

In [8]:
# 24. Create a Pandas DataFrame for this dataset and calculate the average score of each student.
df['AverageScore'] = df[subjects].mean(axis=1)
print("Average score of each student:")
print(df[['Name', 'AverageScore']])

Average score of each student:

KeyError: "['Name'] not in index"

In [ ]:

# 25. Find the student with the highest overall score.
best_student = df.loc[df['AverageScore'].idxmax()]
print(f"\nStudent with the highest overall score: \n{best_student[['Name', 'AverageScore']]}\n")

In [ ]:
# 26. Plot a scatter plot using Matplotlib to visualize Math vs Science scores.
plt.figure(figsize=(8, 6))
plt.scatter(df['Math'], df['Science'], color='blue')
plt.title('Math vs Science Scores')
plt.xlabel('Math Scores')
plt.ylabel('Science Scores')
plt.grid(True)
plt.show()

In [ ]:
# 27. Standardize the scores using NumPy by subtracting the mean and dividing by the standard deviation.
standardized_scores = (df[subjects] - np.mean(df[subjects], axis=0)) / np.std(df[subjects], axis=0)
df[subjects] = standardized_scores
print(f"\nStandardized scores:\n{df[subjects]}\n")

In [ ]:
# 28. Visualize the total scores using a bar plot.
df['TotalScore'] = df[subjects].sum(axis=1)
plt.figure(figsize=(10, 6))
plt.bar(df['Name'], df['TotalScore'], color='green')
plt.title('Total Scores by Student')
plt.xlabel('Student')
plt.ylabel('Total Score')
plt.xticks(rotation=45)
plt.show()

In [ ]:
# 29. Create a pie chart representing the subject-wise average score.
avg_subject_scores = mean_scores
plt.figure(figsize=(7, 7))
plt.pie(avg_subject_scores, labels=avg_subject_scores.index, autopct='%1.1f%%', startangle=140, colors=['#ff9999','#66b3ff','#99ff99','#ffcc99'])
plt.title('Subject-wise Average Score')
plt.show()

In [ ]:
# 30. Display the student whose history score is greater than the average history score.
avg_history_score = np.mean(df['History'])
students_above_avg_history = df[df['History'] > avg_history_score]
print(f"\nStudents whose History score is greater than the average History score ({avg_history_score}):")
print(students_above_avg_history[['Name', 'History']])